<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANbBhvINOMcRQYs8Rnk3fL6Ms1TUaWRR4">
    </script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% include 'header.html.twig' %}
<body>
{% block body %}
    {% block content %}

    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block myScripts %}{% endblock %}
</body>
</html>

